<section class="container mx-auto mt-8 p-4">
  <div class="bg-white p-4 rounded-lg shadow">
    <form class="flex items-center">
      <input type="text" placeholder="Pesquisar quartos..." class="w-full p-2 border rounded-lg">
      <button type="submit" class="ml-2 bg-blue-500 text-white p-2 rounded-lg">Pesquisar</button>
    </form>
  </div>

  <div class="mt-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
    <div class="bg-white rounded-lg p-4 shadow" *ngFor="let room of rooms">
      <h2 class="text-xl font-semibold">{{ room.roomType }}</h2>
      <h2 class="text-xl font-semibold">{{ room.price }}</h2>
      <p class="text-gray-600">{{ room.hotelAddress.city }}, {{ room.hotelAddress.state }}</p>
      <button class="mt-2 bg-blue-500 text-white p-2 rounded-lg"
        (click)="getDetailsRoomById(room.id)">Ver Detalhes</button>
    </div>
  </div>
</section>
