<section class="container mx-auto mt-8 p-4" *ngIf="detailsHotelResponse">
  <div class="bg-white p-4 rounded-lg shadow">
    <!-- Exiba os detalhes do hotel aqui -->
    <h2 class="text-2xl font-semibold">{{ detailsHotelResponse.name }}</h2>
    <p class="text-gray-600">{{ detailsHotelResponse.addressHotel.city }}, {{ detailsHotelResponse.addressHotel.state }}</p>
    <p class="text-gray-600">Telefone: {{detailsHotelResponse.phoneNumber}}</p>
    <p class="mt-4">Descrição do Hotel:</p>
    <p class="text-gray-600">{{ detailsHotelResponse.description }}</p>

    <br>

    <p class="mt-4">Principais Comodidades: </p>
    <div class="bg-white p-4 shadow" *ngFor="let amenity of detailsHotelResponse.amenityHotel">
      <p class="font-semibold">{{ amenity.name }}</p>
    </div>
  </div>
</section>

<app-rooms [room]="room"></app-rooms>
